* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: url(../images/nebo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
}
.wrapper {
    margin: auto;
    margin-top: 40px; 
    padding: 50px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}
.section-02 {
    margin-top: 40px;
}
.section-03 {
    margin-top: 40px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color:burlywood;
    padding-top: 40px;
}
img {
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 110px;
}
.paragrapf {
    font-weight: 700;
    margin-top: 30px;
}
.text-01 {
    margin-top: 20px;
}

.meny {
    column-count: 2;
    margin-top: 20px;
}
 .paragrapf-01 {
    font-weight: 700;
    margin-top: 20px;
 }
 .text-02 {
     margin-top: 20px;
 }
 .meny {
     padding-left: 40px;
 }
 .a {
     font-weight: 700;
     padding-bottom: 10px;
 }
 ul {
     margin-top: 20px;
 }
 p {
     margin-top: 15px;
 }
 li {
     list-style-type: none;
 }
 .stile {
    font-style: oblique;
 }
 .b {
     margin-top: 20px;
 }