    body {
    background-image: url(../images/Layer-57.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
    }
    .wrapper {
      margin: auto;
      min-height: 100vh;
      width: 1024px;
    }
    .menu {
      padding: 100px 50px;
      position: relative;
    }
    .menu-a-01 {
      text-align: center;
    }
    a {
      text-decoration: none;
      display: block;
      
    }
   .menu-b-01  {
      position: absolute;
      top: 99%;
      display: none;
      background-color: #ffffff;
      border-radius: 5px;
    }
    .menu-b-01::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color:transparent transparent #ffffff transparent;
        position: absolute;
        left: 23px;
        bottom: 53px;
    }
    
    .a-01:hover > .menu-b-01 {
      display: block;
    }
    
    .a-01:hover {
      color: #2225da
    }
    .b {
      color: #2b2b2e;
    }
    .b-01:hover {
      background-color: #ee1e41;
    }
    li:last-child {
      margin-right: 0;
    }
    .a-01 {
      display: inline-block;
      font-family: "PathwayGothicOne";
      text-transform: uppercase;
      line-height: 1.2;
      font-size: 15px;
      margin-right: 50px;
      padding: 4px;
      position: relative;
    }
    a {
      color: #ffffff;
    }
    a:hover {
      color: #2225da;
    }
    .a-02 {
      margin-right: 230px;
    }
    .href {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;
      font-family: "Dorsa";
      color: rgb(38, 53, 85);
      text-transform: uppercase;
      width: 138px;
      height: 138px;
      border-radius: 50%;
      background-color: #ffffff;
      text-align: center;
      line-height: 138px;
    }
    .background {
      padding: 60px;
      background-color: #ffffff;
    }
    .carousel {
      position: relative;
    }
    .l {
      width: 225px;
      height: 60px;
      background-color: #ffffff;
      position: absolute;
      top: 218px;
      font-size: 15px;
      font-style: italic;
      padding-top: 22px;
    }
    .k {
      width: 276px;
      height: 60px;
      background-color: #38afe5;
      position: absolute;
      top: 278px;
      font-size: 23px;
      font-style: italic;
      padding-top: 16px;
    }
    .article {
      margin-top: 50px;
    }
    .slick-arrow {
      border: 0;
      position: absolute;
      height: 50px;
      width: 60px;
      z-index: 10;
      background-color: #008080;
      color: #ffffff;
      cursor: pointer;
    }
    .slick-arrow:hover {
      background-color: #d87093;
    }
    .slick-prev {
      bottom: 27px;
      left: 50px;
      display: inline-block;
      background-color:#38afe5;
      width: 30px;
      height: 60px;
      line-height: 60px;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      font-size: 10px;
      outline: 0;
    }
    .slick-prev::before {
      content: '\2192';
      color: #fefefe;
    }
    .slick-next {
      bottom: 27px;
      left: 20px;
      display: inline-block;
      background-color:#38afe5;
      width: 30px;
      height: 60px;
      line-height: 60px;
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
      font-size: 10px;
      outline: 0;
      
    }
    .slick-next::before {
      content: '\2190';
      color: #fefefe;
    }
    .photo {
      display: flex;
      justify-content: space-between;
    }
    h2 {
      font-style: italic;
      font-size: 30px;
      margin-bottom: 40px;
    }
    .tour {
      display: inline-block;
      position: relative;
    }
    .tour img {
      display: block;
      width: 100%;
      
    }
    .journey {
      width: 50%;
      height: 100%;
      background-color: #2b2b2e;
      position: absolute;
      padding-top: 15px;
      padding-bottom: 15px;
      display: none;
    }
    .tour:hover > .journey {
      display: block;
    }

    h3 {
     font-size: 25px;
     font-family: "OpenSans";
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     line-height: 1.2;
     text-align: center;    
    }
    p {
     font-size: 10px;
     font-family: "Arial";
     color: rgb(203, 198, 198);
     line-height: 1.4;
     text-align: left;
     margin-bottom: 30px;
      }
      .p {
     width: 60px;
     height: 20px;
     background-color: #ffffff;
     border-radius: 5px;
     font-size: 12px;
     font-family: "Arial";
     color: rgb(0, 0, 0);
     line-height: 1.52;
     text-align: center;
     margin-left: 70px;
      }
      .p:hover {
     color: #ffffff;
     background-color:  rgb(0, 0, 0);
      }
      .arrow::after {
     display: inline-block;
     width: 30px;
     height: 30px;
     content: '\21E7';
     border-radius: 50%;
     background-color: #1789fc;
     color: #131212;
     text-align: center;
     line-height: 30px;
      }

    .arrow {
      position: fixed;
      bottom: 35px;
      right: 20px;
    }