body {
    background-color: #55ebf252;
}`  

.wrapper {
    background-image: url(../images/wrapper/layer.4png);
    margin: auto;
    max-width: 1200px;
}
  
/*header + masthead-------------------*/

.masthead-wrapper {
    background-image:
     linear-gradient(to bottom, rgba(252,234,187,0.6) 0%, rgba(252,205,77,0.7) 31%, rgba(248,181,0,0.61) 72%, rgba(147,250,154,0.46) 100%),
    url(../images/wrapper/sobaka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;  
}

.container {
    min-width: 20rem;
    margin: auto;
}

.masthead {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 1rem;
}

.logo {
    position: relative;
}

.logo::after {
    display: inline-block;
    content: '\00AE';
    position: absolute;
    left: 185px;
    bottom: 165px;
    color: var(--bleck-color);
}

 .nav-item {
    width: 5.625rem;
    height: 1.875rem;
    text-align: center;
    padding-top: 0.3rem;
 }

 .nav-item:hover {
     font-weight: 700;
     color: var(--bleck-color);
 }

.nav-link {
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.1rem;
    color: var(--color-nav);
}

.producti {
    display: none;
    width: 125px;
}

.hero {
    margin-top: 5rem;
    text-align: center;
}

 h1 {
    font-size: 1.5rem;
    font-family: var(--font-rob);
    color: var(--color-h1);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: y
}

.hero::after {
    display: inline-block;
    content: '';
    width: 4.2rem;
    height: 0.3rem;
    background-color: var(--color-h1);
}

.description {
    text-align: center;
    margin: auto;
    width: 15.6rem;
    margin-top: 1.6rem;
    font-style: italic;
    color: var(--color-nav);
    padding-bottom: 0.6rem; 
}

/*production---------*/

.wrap {
    background: var(--gradient);   
}

.section-header-caption {
    background-color: var(--green-color);
    width: 100%;
    text-align: center;
    height: 8rem; 
    padding-bottom: 0.7rem;
    
}

.section-header-caption::after {
    display: inline-block;
    content: '';
    width: 4.2rem;
    height: 0.3rem;
    background-color: var(--wait-color);
}

.section-header-caption h3 {
    font-size: 2.5rem;
    color: var(--wait-color);
    font-family: var(--font);
    font-weight: bold;
    line-height: 2;
}

.section-header-aside {
    font-size: 1rem;
    font-family: var(--font);
    color: var(--color-fonts-text);
    padding: 1.2rem;
}

.section-header-aside img {
    border: 2px solid var(--yellow-color);
    border-radius: 35%;
}

.cite {
    margin-bottom: 0.3rem;
    color: var(--color-comand);
}

.cite::before {
    display: inline-block;
    content: "#";
    margin-left: 0.4rem;
    color: #ff6000;
}
 .cite::after {
    display: inline-block;
    content: "#";
    color: #ff6000;
} 
.richard {
    font-style: italic;
    font-size: 0.8rem;
    padding-left: 6rem;
    color: var(--color-comand);
}

.rube {
    font-weight: 700;
    padding-left: 4.5rem;
    margin-top: 1.2rem;
    font-size: 1.1rem;
}

.text::before {
    display: inline-block;
    content: "";
    margin-left: 0.4rem;
}

.dog {
    font-weight: 600;
    padding-left: 2rem;
    margin-top: 0.5rem;
}

.section-header-aside img {
    display: block;
    margin: auto;
    height: 15rem ;
    margin-bottom: 1rem;
}

/*products---------------*/

.products-card {
    position: relative;
    margin: auto;
}

.products-card-image img {
    width: 100%;
    height: 37.9rem;
    object-fit: cover;
}

.products-card-meta {
    width: 17.6rem;    
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.products-card-name {
    font-size: 1.2rem;
    font-family: var(--font);
    color: rgb(53, 109, 94);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.316;
    margin-top: 0.3rem;
}

.products-card-description {
    font-size: 0.8rem;
    font-family: var(--font);
    color: rgb(91, 115, 9);
    font-style: italic;
    line-height: 1.286; 
    margin-top: 0.5rem; 
}

.check {
   margin-top: 12px;
}

.check p {
    display: inline-block;
    color: rgb(91, 115, 9);
    font-size: 20px;
    font-weight: 400;
    margin-right: 15px;
}  

.grn {
    display: inline-block;    
    color: #6d73a2;
    font-size: 30px;
    font-weight: 700;
}

.grn::after {
    display: inline-block;   
    content: '\201A'
}

.kop {
    display: inline-block;    
    color: #6d73a2;
    font-size: 12px;
}



.slick-arrow {
    border: 0;
    position: absolute;
    height: 3.3rem;
    width: 4rem;
     z-index: 1;
    color: var(--wait-color);
    cursor: pointer;
  }
  .slick-arrow:hover {
    background-color: var(--color-fonts-footer);
  }
  .slick-prev {
    bottom: 4%;
    transform: translateY(50%);
    right: 8%;
    background-color: var(--green-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 0.7rem;
    outline: 0;
  }
  .slick-prev::before {
    content: '\2192';
    color: var(--wait-color);
  }
  .slick-next {
    bottom: 4%;
    transform: translateY(50%);
    left: 8%;
    background-color: var(--green-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 0.7rem;
    outline: 0;
    
  }
  .slick-next::before {
    content: '\2190';
    color: var(--wait-color);
  }
 
/*-------team-------------*/

.team-list-item {
    width: 23.73rem;
    position: relative;
    margin: auto;
}

.team-card-image {
    padding: 1.2rem 3.2rem;
}

.image {
    width: 100%;
    height: 26.9rem;
    object-fit: cover;
}

.team-card-contacts {
    width: 17.3rem;
    height: 5.3rem;
    position: absolute;
    bottom: 6.4rem;
    padding-top: 2rem; 
    display: none;
}

.team-card-image:hover > .team-card-contacts {
    display: block;
}

.connecting img {
    width: 30px;
}

.pfon {
    display: flex;
    justify-content: space-around;
    height: 20px;
}

.pfon a {
    font-size: 1rem;
    font-family: var(--font);
    color: var(--wait-color);
    line-height: 1.563;
}

.team-card-meta {
    width: 17.3rem;
    height: 5.3rem;
    background-color: var(--color-comand);
    bottom: 3.4rem;
    padding-top: 1.2rem;
    padding-left: 2rem;
    margin-top: -0.25rem;
    color: var(--wait-color);
}

.team-card-image:hover > .team-card-meta {
    background-color: var(--green-color);
    color: var(--color-comand);
    }

.team-card-name {
    font-size: 1rem;
    font-family: var(--font);
    text-transform:uppercase; 
    line-height: 1.563;
}

.team-card-pos {
    font-size: 0.7rem;
    font-family: var(--font); 
    color: var(--wait-color);
    line-height: 1.786;
}

/* delevery----------------------- */

.region {
    font-size: 1rem;
    font-family: var(--font);
    color: var(--color-fonts-text);
    padding: 10px;
}

.region ul {
    height: 100%;
}
.part {
    height: 100vh;
    width: 50%;
}

.s {
    font-style: italic;
    font-size: 30px;
}

.text span {
    font-weight: 700;
    color: var(--color-nav);
}

/*--------customs------------*/

.customs-list-icons {
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.customs-list-icon {
    padding: 0.4rem;
    flex: 0 1 0.625rem;
}

.customs-list-icon img {
    object-fit: cover;
}

/*------------footer------------*/

.connect {
    width: 100%;
    height: 5rem;
    background-color: var(--color-comand);
    text-align: center;
}

.pfone-number {
    display: block;
    font-size: 1rem;
    font-family: var(--font); 
    color: var(--wait-color);
    line-height: 1.786;
}

.pfone-number::before {
    display: inline-block;
    content: '\260E';
    width: 2rem;
    height: 2rem;
    color: var(--green-color);
}

.mail-adress {
    
    font-size: 1rem;
    font-family: var(--font); 
    color: var(--wait-color);
    line-height: 1.786;
}

.mail-adress::before {
    display: inline-block;
    content: '\2709';
    width: 2rem;
    height: 2rem;
    color: var(--green-color);
}

@media (min-width: 320px and max-width: 767px) {
    .container {
        height: 100vh;
    }

    .nav-ul {
        width: 19rem;
    }  
    
    .products-wrapper {
        height: 100vh;
    }

    .products-card {
        width: 24rem;
    }
}

@media (min-width: 768px) {
    .masthead {
        flex-direction: row;
    }

    

    .nav {
        width: 22.3rem;
    }

    .nav-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }

    .hero {
        margin-top: 7rem;
    }
    .description {
        width: 28rem;
    }

    .text {
        margin-top: 0.5rem;
        line-height: 1.2; 
    }

     /*---------------*/    
     
    .clearfix {
        margin-left: 1.7rem;
        width: 16.25rem;
        float: right;
    }

    .clearfix::after{
        display: table;
        content: "";
        clear: both;
    }

    /*------------*/

    .products-card {
        margin: 0;    
    }

    .products-card-image img {
        width: 100%;
        object-fit: cover;
    }

    
    
    /*-----------*/
    
    .team-list {
        display: flex;
        justify-content: space-around;
    }

    .region {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 960px) {

    .nav {
        width: 100vw;
        margin-top: 4.5rem;
    }
    .nav-ul {
        flex-wrap: nowrap;
        align-items: center;
        flex: 1 0 100%
    }
 
    .meet {
        text-decoration: none;
        font-family: var(--font);
        font-size: 0.8rem;
         color: var(--color-nav);
    }

    .producti li {
        border: 2px solid var(--yellow-color);
        background-color: #55edf21c;
        margin-bottom: 2px;
        border-radius: 11%;
        height: 40px;
        position: relative;
    }

    .meet {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .meet :first-child {
        margin-bottom: 0;
    }
    
    .nav-item:hover > .producti {
        display: block;
        font-style: italic;
        font-weight: 400;
        
    }
    
    .producti li:hover {
        font-weight: 700;
        background-color: #55eff2;
    }

    .masthead {
        position: relative;
    }
    .logo {
        position: absolute;
    }

    .hero {
        margin-top: 12rem;
    }

    .production-wrapper {
        height: 100vh;
    }

    .description {
        width: 35rem;
    }
    .richard {
        padding-left: 25rem;
    }

    .prod {
        margin-right: 13rem;
    }

    .products-cards {
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .products-card {
        
        width: 25rem;
    }

    .products-card-image {
        padding: 1.2rem 1rem;
    }

    .products-card-image img {
        width: 100%;
        height: 30rem;
    }
}