:root {
    --green-color: rgb(164, 194, 61);
    --yellow-color : #cece5b;
    --color-h1: #797955;
    --bleck-color: rgb(0, 0, 0);
    --color-nav: #060404;
    --color-comand: rgb(51, 51, 51);
    --wait-color: rgb(255, 255, 255);
    --font: 'Open Sans', sans-serif;
    --font-rob: 'Roboto', sans-serif;
    --color-fonts-footer: rgb(127, 127, 127);
    --color-fonts-text: rgb(136, 136, 136);
    --gradient: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,0.83) 31%, rgba(248,181,0,0.61) 72%, rgba(147,250,154,0.46) 100%)
    }