
.wrapper {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #798f67;
}
.search {
    padding: 15px;
    background-color: rgb(198, 236, 29);
}
.menu {
    display: inline-block;
    /*padding: 10px;
    background-color: #e759d4;*/
}
.menu a {
    margin-right: 5px;
    padding: 5px;
    text-transform: uppercase;
    color: #abc3d3;
    text-decoration: none;
    background-color: #3b303a;
}
.menu a:hover {
    background-color: #e7eb29;
}
.menu a:last-child {
    margin-right: 0;
}
