body {
    background-image: url(../imajes/page-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
}
.wrapper {
    width: 1020px;
    height: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-top: 150px;
}
.box-01 {
    width: 900px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
}
.container-01 {
    display: inline-block;
    width: 70%;
    height: 435px;
    float: left;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.picture {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.title {
    height: 70px;
}

.title-01 {
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    vertical-align: middle;
}
.title-02 {
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 370px;*/
}
.subtitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.subject {
    display: inline-block;
    width: calc(100% - 46px);
    vertical-align: top;
}
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
.sidebar {
    display: list-item;
    text-align: -webkit-match-parent;
    counter-increment: postNamber;
}
.sidebar::before {
    counter-increment: list;
    content: counter(postNamber);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #1789fc;
    color: #fefefe;
    text-align: center;
    line-height: 30px;
}
.b {
    display: block;
}

.col-01 {
    display: inline-block;
    width: 30%;
    height: 435px;
    padding-left: 20px;
    padding-right: 20px;
    counter-reset: postNamber;
}

.sidebar-02{
    display: inline-block;
    height: 435px;
}
.sidebar:last-child {
    margin-bottom: 0;
}

.box-02 {
    width: 900px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color:#deb887;
    padding-top: 50px;
    margin-top: 50px;
}
.container-02 {
    display: inline-block;
    width: 70%;
    height: 530px;
    padding-left: 60px;
    padding-right: 60px;
}
.col-02 {
    display: inline-block;
    float: right;
    width: 30%;
    height: 530px;
}
.title-03 {
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 40px;
}
.excerpt {
    padding-bottom: 20px;
}
.title-04 {
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 60px;
}

.quote {
    width: 210px;
    height: 200px;
    background-color: #f6f6f0;
    margin-left: 60px;
    font-size: 16px;
    line-height: 1.25;
    padding: 18px;
    border-width: 1px;
    border-style: solid;
    border-color:#deb887;
}

.lead-01 {
    width: 210;
    height: 200;
}
h4 {
    display: inline-block;
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 700; 
}
.text {
    margin-left: 65px;
    font-size: 15px;
}
.a::before {
    display: inline-block;
    content:'\2192';
    padding: 3px;
    margin: 0 5px;
    color: #1408b4
}
.a:last-child {
    margin-bottom: 0;
}
.list {
    column-count: 2;
}
li {
    margin-bottom: 20px;
    font-size: 17px;
}


    

