
.wrapper {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #798f67;
}
/*.search {
    padding: 15px;
    background-color: rgb(198, 236, 29);
}
.menu {
    
    padding: 10px;
    background-color: #e759d4;
}
.menu a {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    text-transform: uppercase;
    color: #abc3d3;
    text-decoration: none;
    background-color: #3b303a;
}
.menu a:hover {
    background-color: #e7eb29;
}
.menu a:last-child {
    margin-right: 0;
}
li {
    color: #0E1116;
}
li:nth-of-type(3n+1) {
    background-color: #88292F;
}

li:nth-of-type(3n) {
    background-color: #5DB7DE;
}

li:nth-of-type(3n+2) {
    background-color:#0D5D56;
}


li::before {
    display: inline-block;
    content:'\2192';
    padding: 3px;
    margin: 0 5px;
}
p:target {
    background-color: #f30707
}*/
li::before {
    display: inline-block;
    content: counter(postNumber);
    padding: 3px;
    margin: 0 5px;
    
}
li {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    border: 1px;
    background-color: #d1baba;
    counter-increment: postNumber;
    
}
