body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
    
}

.wrapper {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    position: relative;
}
.wrapper:nth-child(-n+1) {
    margin-top: 0;
}
.table {
    width: 210px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #424242;
    border: 2px solid #575454;
    box-shadow: 0 0 5px  #5f5d5d;
}

.adress {
    text-align: left;
    margin-bottom: 20px;
}
.table-01 {
    margin-bottom: 50px;
    width: 199px;
}
.table-001 {
    width: 199px;
}
.contact {
    text-align: left;
    margin-bottom: 20px;
    font-family:  Roboto, sans-serif;
    font-size: 25px;
}
.tabl {
    width: 210px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #424242;
    border: 2px solid #575454;
    box-shadow: 0 0 5px  #5f5d5d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    width: 196px;
    margin-bottom: 5px;
}
textarea {
    resize: none;
    width: 196px;
}
