.conteyner {
    background-color: rgb(156, 4, 4);
    height: 100vh;;
}
.spa {
    background-image: url(../images/logo11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}